.w-full { width: 100%; }
:host ::ng-deep .w-full .p-dropdown { width: 100%; }
.action-btns { display: flex; gap: 0; }
.font-semibold { font-weight: 600; }
.text-center { text-align: center; color: #9CA3AF; }
.p-4 { padding: 24px !important; }
